body, html{
    height: 100%;
    background-color: #90caf9;
}
.header{
    display: flex;
    justify-content: center;
}
.header a{
    margin-right: 20px;
    font-size: 20px;
    text-decoration: none;
    color: #EBCB63;
    padding: 10px;
    background-color: #4C4D7B;
}

.header a:hover{
    background-color: #404069;
}

/* Окно регистрации */

.registr{
    display: none;

    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.registr form{
    background-color: #4c4d7b;
    padding: 30px;
}

.registr label{
    color: #EBCB63;
    font-size: 20px;
}

input[type=text]{
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
}

input[type=password]{
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
}

input[type=submit]{
    background-color: #E13A5C;
    border: none;
    width: 324px;
    padding: 10px;
    text-transform: uppercase;
    color: #F4F5F2;
    font-family:monospace;
}

input[type=submit]:hover{
    background-color: #a8223d;
    cursor: pointer;
}

/* Окно авторизации */
.auth{

    flex-direction: column;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.auth form{
    background-color: #4c4d7b;
    padding: 30px;
}

.auth label{
    color: #EBCB63;
    font-size: 20px;
}


.error{
    background-color: red;
    color: #fff;
    padding: 10px;
}
.success{
    background-color: lime;
    color: #fff;
    padding: 10px;
}

/* Окно приветствия */
.hello{
    display: flex;

    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.hello form{
    background-color: #4c4d7b;
    padding: 30px;
}

.hello label{
    color: #EBCB63;
    font-size: 20px;
}

/* Logout */

.logout{
    
    background-color: #E13A5C !important;
    color: #fff!important;
}

.logout:hover{
    background-color: #99253c !important;
}

