input[type=submit]{
    border: 0;
    padding: 10px;
    margin-left: 10px;
    background-color: #1B0F2E;
    color: #fff;
    transition: 0.5s;
    border-radius: 2px;
    text-transform: uppercase;
}
input[type=submit]:hover{
    background-color: #3B4918;
    cursor: pointer;
    transition: 0.5s;
}

input[type=text]{
    padding: 8px;
    border: 0.2px solid #cc9;
    border-radius: 5px;
}
input[type=button]{
    border: 0;
    padding: 10px;
    margin-left: 10px;
    background-color: #1B0F2E;
    color: #fff;
    transition: 0.5s;
    border-radius: 2px;
    text-transform: uppercase;
}
input[type=button]:hover{
    background-color: #3B4918;
    cursor: pointer;
    transition: 0.5s;
}