*{
    box-sizing: border-box;
}
body{
	background-color: #a4e6f4;
	padding: 0px;
}
div{
	background-color:#6998a3;
	color: white;
    text-align: center;
    height: 118.912px;
    border-radius: 50%;
}

.container{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 10px;
}

@media all and (max-width: 500px){
    .container{
        grid-template-columns: repeat(5, 1fr) ;

    }
    div{
        height: 86px;
        background-color: red;
    }
}

@media all and (min-width: 1000px){
    .container{
        grid-template-columns: repeat(20, 1fr);
    }

    div{
        height: 47px;
        background-color: yellow;
    }
}